/* 記得把背景色拿掉 */
#map-container {
  background-color: var(--secondary);
  width: 1000px;
  height: 800px;
  margin: 10px;
}

#taiwanMap{
  width: 900px;
  height: 800px;
}

.county {
  fill: #ebf0e4;
  stroke: gray;
  stroke-width: 0.1px;
}

.county:hover {
  fill: var(--primary);
}

.county.selected {
  fill: var(--highlight);
}

.test{
    background-color: blueviolet;
    color: aliceblue;
    width: 20px;
    height: 20px;
    padding: 5px;
    font-size: 10px;
}