.week_weather_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.week_weather_info {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  height: 70px;
  align-items: center;
  border-bottom: 0.5px solid var(--secondary);
}

.week_weather_info:hover {
  width: 100%;
  background-color: rgba(188, 172, 170, 0.1);
}

.week_weather_info_icon {
  width: 40px;
  flex: 0.4;
}

.week_weather_info_temp {
  display: flex;
  align-items: center;
}

.week_weather_info_temp_bar {
  width: 80px;
  height: 10px;
  background: linear-gradient(to right, var(--secondary), var(--highlight));
  border-radius: 30px;
  margin: 0 10px;
}
