.weather_and_rain_container {
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  width: 380px;
  min-width: 380px;
  max-width: 430px;
  height: 800px;
  background-color: var(--light);
  border: 1px solid var(--secondary);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.today_weather {
  width: 100%;
  height: 220px;
  padding: 5px 15px 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather_error {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather_location_and_date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.weather_location {
  font-size: 20px;
  font-weight: 700;
}

.weather_date {
  font-size: 14px;
  letter-spacing: 1.5px;
}

.weather_icon_and_temp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  padding: 5px 10px;
}

.weather_icon {
  width: 160px;
  filter: drop-shadow(10px 3px 5px rgba(188, 172, 170, 0.4));
}

.weather_icon img {
  width: 100%;
  position: absolute;
}

.weather_temp_and_info {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  display: none;
}

.weather_temp {
  font-size: 35px;
  font-weight: 700;
  color: var(--highlight);
}

.weather_description {
  margin-top: 8px;
  letter-spacing: 1.5px;
  font-size: 18px;
}

.weather_wind_and_rain {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  height: auto;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  gap: 5px;
}

.weather_wind > span,
.weather_wind i,
.weather_rain > span,
.weather_rain i {
  color: var(--secondary);
}

.weather_wind i,
.weather_rain i {
  padding-right: 3px;
}

.page_selector {
  margin: 10px 0;
  border: 1px solid var(--secondary);
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  padding: 2px;
}

.page_selector_btn {
  border: none;
  background-color: transparent;
  color: var(--dark);
  padding: 8px 20px;
  letter-spacing: 2px;
  font-size: 15px;
  font-size: 15px;
}

.page_selector_btn:hover {
  background-color: rgba(188, 172, 170, 0.5);
  cursor: pointer;
  color: var(--light);
  border-radius: 30px;
  padding: 8px 25px;
  font-weight: 700;
}

.page_selector_btn.active {
  background-color: var(--secondary);
  cursor: pointer;
  color: var(--light);
  border-radius: 30px;
  padding: 8px 25px;
  font-weight: 700;
}

/* 一週天氣 */
.week_weather_info_and_rain_info_container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.loader_wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 2px;
}

.loader_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: loaderRotation 3s linear infinite;
}

@keyframes loaderRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.week_weather_info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.week_weather_info {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  height: 70px;
  align-items: center;
  border-bottom: 0.5px solid var(--secondary);
}

.week_weather_info:hover {
  width: 100%;
  background-color: rgba(187, 170, 168, 0.1);
}

.week_weather_info_icon {
  width: 53px;
}

.week_weather_info_temp {
  display: flex;
  align-items: center;
}

.week_weather_info_temp_bar {
  width: 80px;
  height: 10px;
  background: linear-gradient(to right, var(--secondary), var(--highlight));
  border-radius: 30px;
  margin: 0 10px;
}
